* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  --color-span: #F71963;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-info {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 32px;
    font-weight: 600;
    font-size: 12px;



    div {
      display: flex;
      gap: 10px;
      width: 100%;
      justify-content: center;
      align-items: center;

      span {
        color: var(--color-span);
      }
    }
  }

  .header-buttons {
    display: flex;
    width: 90%;
    height: 72px;
    justify-content: space-around;
    align-items: center;


    input[type="text"] {
      width: 100%;
      max-width: 657px;
      height: 48px;
      background-image: url('./assets/glass.svg');
      background-repeat: no-repeat;
      background-position: right center;
      padding: 20px;
      border: none;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
    }

    .header-icons {
      display: flex;
      width: 100%;
      max-width: 250px;
      justify-content: space-around;

      img {
        cursor: pointer;
      }
    }
  }

  .header-areas {
    display: flex;
    width: 90%;
    height: 40px;
    justify-content: space-around;
    align-items: center;

    p,
    span {
      cursor: pointer;
      font-weight: 600;
      font-size: 12px;
    }

    span {
      color: var(--color-span);
    }

    div {
      display: flex;
      gap: 10px;
    }
  }


}

.promotion {
  width: 100%;
  height: 395px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -70%, #000000 120%), url('./assets/promotion.svg');
  background-size: cover;
  background-position: center center;


  div {
    width: 100%;
    max-width: 785px;
    height: 100%;
    padding: 50px 0 0 100px;

    h1 {
      font-size: 48px;
      font-weight: 600;
      color: #ffffff;
    }

    h2 {
      font-size: 36px;
      font-weight: 600;
      color: #ffffff;
    }

    button {
      width: 100%;
      max-width: 227px;
      height: 60px;
      background-color: var(--color-span);
      color: #ffffff;
      border: none;
      margin-top: 40px;
      cursor: pointer;
    }

  }
}

main {

  display: flex;
  flex-direction: column;
  align-items: center;

  .main-areas {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 95%;
    margin-bottom: 30px;
  
  
    .areas-one {
      display: flex;
      flex-direction: column;
      gap: 22px;
      width: 100%;
      max-width: 143px;
      height: 174px;
      font-size: 16px;
      font-weight: 500;
      color: #4E4E4E;
  
      span {
        color: var(--color-span);
      }
  
  
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 128px;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.22);
        border-radius: 10px;
      }
    }
  }

  h2 {
    color: var(--color-span);
    margin-bottom: 10px;
  }

  .main-relacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 95%;
    height: 40px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      max-width: 235.05px;
      border: 1px solid #BDBDBD;
      font-size: 16px;
      font-weight: 400;

      SPAN {
        color: var(--color-span);
      }
    }
  }

  .carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    
  }

  .carousel-all {
    height: 500px;
    
  }
  
  .carousel-track {
    display: flex;
    height: 228px;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-slide {
    flex: 0 0 100%; /* Cada slide ocupa a largura total do carrossel */
  }
  
}

